[Unit]
Description=SlipStream Job Distributor On %I
After=syslog.target network-online.target

[Service]
EnvironmentFile=-/etc/default/slipstream-job-distributor
ExecStart=/bin/sh -c "exec /opt/slipstream/job/sbin/job_distributor_%i.py $DAEMON_ARGS"
TimeoutStopSec=10
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
